# This is Git's per-user configuration file.
[user]
	name = Jacob Dubinsky
	email = jacob.dubinsky@shopify.com
[push]
	default = current
[core]
	commitGraph = true
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[credential]
	helper = 
	helper = store --file /opt/dev/var/private/git_credential_store
[alias]
	srbgrep = "!git grep \"$@\" -- \"${GIT_PREFIX}/*\" #"
