# This is Git's per-user configuration file.
[user]
	name = Jacob Dubinsky
	email = jacob.dubinsky@shopify.com
[include]
	path = /Users/jdubinsky/.config/dev/gitconfig
[maintenance]
	repo = /Users/jdubinsky/world/trees/root/src
